
body {
    background-image: image("image/alkaf.jpg"); 
}

#test {
    padding:20px
}
h1{
    text-align: center;
    color: rgb(224, 12, 12);
}
.container{
    width: 100%;
    margin: auto;
}

.table{
    width: 400px;
    margin: 0 auto;
}
h1{
text-align: center;
color: rgb(224, 13, 13);
}

		